</div></div></div>

<div class="container-fluid py-5 bg-dark">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">
            <h2 class="text-center">
                <strong>GALLERY</strong>
            </h2>
            <div class="container" style="padding-top: 30px;">
                <div class="row gy-4">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/emb-stsebsfootball.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/emb-stsebsfootball_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/emb-wellesleyraiders.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/emb-wellesleyraiders_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/ne-eagles-hockey.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/ne-eagles-hockey_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/spike-out-als.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/spike-out-als_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/burlington-red-devils-polos.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/burlington-red-devils-polos_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/twill.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/twill_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/nebc.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/nebc_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/newmissiontitans.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/newmissiontitans_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/sam-malone-zone.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/sam-malone-zone_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/emassstatechampscalripken.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/emassstatechampscalripken_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/quebechockey.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/quebechockey_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/bedfordhscinderella.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/bedfordhscinderella_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/safefromstorm.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/safefromstorm_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/watertownfirebreastcancer.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/watertownfirebreastcancer_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/newtonwellesleyfootballturkey.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/newtonwellesleyfootballturkey_orig.jpg" alt="...">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
                        <img src="uploads/1/0/9/4/109494009/snowden-basketball-backpacks.jpg"
                            class="img-fluid image-cover image-square img-thumbnail" data-bs-toggle="modal"
                            data-bs-target="#imgModal"
                            data-bs-src="uploads/1/0/9/4/109494009/snowden-basketball-backpacks_orig.jpg" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cancel out the container div -->
<div><div><div>