<% content_for :subtitle do %>SanMar PSST Program<% end %>

<div class="container py-5">
    <div class="row gx-5 gy-5">
        <div class="col-xl-6">
            <img src="uploads/1/0/9/4/109494009/SanMarPSST_TNF_02042022.jpeg" alt="SanMar - Pack Separately. Ship Together." class="img-fluid">
        </div>
        <div class="col-xl-6 text-center">
            <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/309344140" frameborder="0" webkitallowfullscreen
                    mozallowfullscreen allowfullscreen></iframe>
            </div>
            <p><a href="https://vimeo.com/309344140">PSST</a> from <a
                    href="https://vimeo.com/user17066304">SanMar</a>
                on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-dark">
    <div class="row">
        <div class="col text-center h4 lh-base">
            <strong>PSST</strong> is all about <strong>Shared Accounts</strong>, <strong>Contract
                Decorators</strong>, and <strong>SanMar</strong> Working Together to:<br />
            <strong>
                REDUCE COSTS<br />
                IMPROVE EFFICIENCIES<br />
                MAXIMIZE PRODUCTION CAPACITY<br />
                DRIVE GROWTH
            </strong>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="row">
        <div class="col-xl-10 offset-xl-1 col-sm-12">
            <h2 class="text-center">
                <strong>Why PSST?</strong>
            </h2>
            <br />
            <h4>
                <i>
                    It is important to understand the benefits that PSST provides and why you should engage with the
                    program.
                </i>
            </h4>
            <div class="container" style="padding-top: 30px;">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1 col-xs-12">
                        <table
                            style=" font-family: 'Montserrat', 'Gotham Book', sans-serif; background-color: #FFFFFF; padding: 20px; color: #112233;">
                            <tr
                                style="background-color: #112233; color: #eeeeee; font-weight: bold; font-size: 1.25em; padding: 15px;">
                                <th style="text-align: left; padding: 10px; width: 20%;">
                                    PSST BENEFITS
                                </th>
                                <th style="text-align: left; padding: 10px; width: 40%;">
                                    DECORATOR
                                </th>
                                <th style="text-align: left; padding: 10px; width: 40%;">
                                    SHARED ACCOUNT
                                </th>
                            </tr>
                            <tr style="padding: 15px;">
                                <td style="text-align: left; padding: 10px; font-weight: bold; font-size: 1.1em;">
                                    Free Freight on Every Order
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    Orders arrived pre-sorted for ease of checking in and staging
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    No exclusions including closeouts and oversized items
                                </td>
                            </tr>
                            <tr style="padding: 15px;">
                                <td style="text-align: left; padding: 10px; font-weight: bold; font-size: 1.1em;">
                                    Specialized Service Team
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    They know how to handle your particular needs, quickly and
                                    effectively, in order to not slow down production
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    Your PSST decorator can work directly with SanMar to resolve
                                    order issues and returns so you can focus on selling
                                </td>
                            </tr>
                            <tr style="padding: 15px;">
                                <td style="text-align: left; padding: 10px; font-weight: bold; font-size: 1.1em;">
                                    2&#37; Spoilage Protection Plan
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    Assistance when decoration errors occur
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    Comfort knowing risk is minimized
                                </td>
                            </tr>
                            <tr style="padding: 15px;">
                                <td style="text-align: left; padding: 10px; font-weight: bold; font-size: 1.1em;">
                                    Spec Sampling
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    Decorators and Shared Accounts collaborating together to create
                                    mutually beneficial opportunities
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    Make your end user presentations better with discounted
                                    decorated samples and marketing collateral
                                </td>
                            </tr>
                            <tr style="padding: 15px; background-color: #DDDDDD;">
                                <td style="text-align: left; padding: 10px; font-weight: bold; font-size: 1.1em;">
                                    No Restock Fees
                                </td>
                                <td colspan=2 style="text-align: center; padding: 10px; font-size: 1.25em;">
                                    <span style="font-weight: bold;">NO MORE FEES</span> (just
                                    return freight)
                                </td>
                            </tr>
                            <tr style="padding: 15px;">
                                <td style="text-align: left; padding: 10px; font-weight: bold; font-size: 1.1em;">
                                    Daily Manifest
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    Transparency to improve planning for production
                                </td>
                                <td style="text-align: left; padding: 10px;">
                                    Helps ensure your decorator knows what items are coming and when
                                    they will arrive
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
