<% content_for :subtitle do %>Services<% end %>
<% content_for :active_navlink_script do %>
    <script>
        document.getElementById('nav_services').classList.add('active');
    </script>
<% end %>

<div class="container-fluid py-5 bg-light">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <h2 class="text-center">
                <strong>SERVICES</strong>
            </h2>
            <div class="container" style="padding-top: 30px;">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1 col-xs-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-xs-12 gx-5">
                                    <p class="email_links">
                                        <%= link_to "SanMar PSST Decorating Partner", psst_path %><br />
                                        Approved PSST Decorator for The North Face Brand
                                    </p>
                                    <h4 style="font-weight: bold;">Screen Printing</h4>
                                    <p>
                                        3 M&amp;R automatic presses<br />
                                        3 Multi-color manual presses<br />
                                        State of the art LED exposure units<br />
                                        Wilflex PMS color matching system<br />
                                        Full Inventory of Transfer Express screen printed number transfers
                                    </p>
                                </div>
                                <div class="col-md-6 col-xs-12 gx-5">
                                    <h4 style="font-weight: bold;">Embroidery</h4>
                                    <p>
                                        25 embroidery heads<br />
                                        Specialty hoops<br />
                                        3D puff embroidery on hats
                                    </p>
                                    <h4 style="font-weight: bold;">Graphic Design</h4>
                                    <p>
                                        In-house graphic design services<br />
                                        Specialists in vectorizing artwork and complex separations
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
