<div class="modal fade" id="app-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
  <div id="app-modal-dialog" class="modal-dialog modal-larger-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="app-modal-title">Modal title</h5>
        <button type="button" class="btn-close bg-transparent" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="app-modal-body"></div>
      </div>
    </div>
  </div>
</div>
