<div class="modal fade" id="static-modal" tabindex="-1" aria-labelledby="staticModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-larger-dialog">
    <div class="modal-content" data-bs-dismiss="modal" aria-label="Click anywhere to close">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <img id="img_fullSize" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>