<% content_for :subtitle do %>Manage Orders<% end %>

<div class="container-fluid py-5 bg-light">
    <div class="row">
        <div class="col text-center">
            <h2>ONLINE PORTAL</h2>
            <br />
            <div class="container">
                <div class="row gy-4">
                    <div class="col-12">
                        <a id="customer_login" class="btn btn-lg" href="customer-orders.html" role="button">Contract Customer Login</a>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-lg cbButton" href="proofs.html" role="button">3TP Manager Login</a>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-lg cbButton" href="garments.html" role="button">3TP Garments Login</a>
                    </div>
                    <div class="col-12">
                        <a href="production-calculator.html" class="btn btn-lg cbButton" role="button">3TP Admin Login</a>
                    </div>
                    <div class="col-12">
                        <a href="production-planner.html" class="btn btn-lg cbButton" role="button">3TP Operator Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('nav_manage_orders').classList.add('active');
</script>
