$red:                            #e91111;
$red-light:                      #f8b1b1;
$orange:                         #ff7624;
$orange-light:                   #febd8e;
$gold:                           #ffad00;
$gold-light:                     #fadb91;
$yellow:                         #fee142;
$yellow-light:                   #fffc9c;
$green:                          #00b500;
$green-light:                    #aeedae;
$blue:                           #0072BC;
$blue-light:                     #6fc1f6;
$purple:                         #7b52a5;
$purple-dark:                    #522994;
$purple-light:                   #c6b5de;
$grey:                           #999999;
$grey-light:                     #dddddd;

$pink:                           #ff66dd;
$navy:                           #112233;
$black:                          #221122;

$primary-bg-dark:                 $navy;
$primary-bg-light:               #E4F0F8;